<div class="menu-bar" [ngClass]='{black : expanded}'>
  <div class="menu" [ngClass]="{'black-menu' : !expanded, 'white-menu' : expanded}"
       (mouseenter)="switchExpand()"
       (click)="switchExpand()">
  </div>
</div>
<div class="menu-window" *ngIf="expanded" (mouseleave)="switchExpand()">
  <a class="menu-component" routerLink="all-articles">All articles</a>
  <a class="menu-component" (click)="createArticle()" *ngIf="hasPermission('ARTICLE_CREATE')">New article</a>
  <a class="menu-component" routerLink="ask-question">Ask question</a>
  <a class="menu-component login" routerLink="login" *ngIf="!isAuthorized()"></a>
  <a class="menu-component logout" (click)="logout()" *ngIf="isAuthorized()"></a>
</div>
